<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>个人简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
</head>

<body>
    <div class="wrapper" id="wrapper">
        <header>
            <div class="banner row" id="banner">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadd slides-container" style="height:100%">
                    <div class="slide">
                        <img src="images/header-image/header-bg1.jpg" width="1024" height="682">
                    </div>
                    <div class="slide">
                        <img src="images/header-image/header-bg2.jpg" width="1024" height="682">
                    </div>
                    <div class="slide">
                        <img src="images/header-image/header-bg3.jpg" width="1024" height="682">
                    </div>
                    <div class="slide">
                        <img src="images/header-image/header-bg4.jpg" width="1024" height="682">
                    </div>
                </div>
                <div class="bannerText container">
                    <h1>我叫 王澍（shù）
                    </h1>
                    <p>
                        Nodejs高级工程师，有着4年多开发经验。是爱折腾，对新技术充满好奇心，开放乐观的人。
                    </p>
                    <p>
                        梦想是用技术改变世界！！！
                    </p>
                    <a href="#aboutme" class="mbnt">关于我</a>
                </div>（shù）
            </div>
            <div class="menu">
                <div class="navbar-wrapper">
                    <div class="container">
                        <div class="navwrapper">
                            <div class="navbar navbar-inverse navbar-static-top">
                                <div class="container">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#">导航</a>
                                    </div>
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav nav-justified">
                                            <li class="first menuItem homeLink active">
                                                <a href="#wrapper">首页</a>
                                            </li>
                                            <li class="menuItem">
                                                <a href="#aboutme">关于我</a>
                                            </li>
                                            <li class="menuItem">
                                                <a href="#technical">技能</a>
                                            </li>
                                            <li class="menuItem">
                                                <a href="#exprience">经历</a>
                                            </li>
                                            <li class="menuItem">
                                                <a href="#reffernces">项目</a>
                                            </li>
                                            <li class="menuItem">
                                                <a href="#contact">联系我</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="aboutme" id="aboutme">
            <div class="container">
                <div class="row">
                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 aboutCont">
                        <div class="heading clearfix">
                            <h2>关于我</h2>
                        </div>
                        <div id="description">
                            <p>
                                我是来自安徽的Nodejs开发工程师，大学毕业后，一直从事Java工作，一次偶然的机会接触了Nodejs，从此就一发不可收拾。至今已有两年的Nodejs开发经验。
                            </p>
                            <p>
                                因为有两年的Java开发经验，有面向对象的语言基础，所以学Nodejs等语言有事半功倍的效果，如同学了会了九阳神功，在学其他功夫，就易如反掌了。虽然有比较扎实的基础，但是Nodejs前端工程师的技术不断更新，所以需要保持对新技术的学习热情。后端技术不断学习的同时，前端技术也不能拉下，目标是熟练使用HTML5、CSS3、Bootstrap3、AngularJS和React等技术。希望加入团队在往后的开发项目中得到实践提升，锻炼了一定的管理能力。
                            </p>
                            <p>
                                虽然GitHub上项目很少，但是不代表我不喜欢分享交流经验，我是一个交流，喜欢带新人，毫无保留的进行技术分享。如果有机会，我会把GitHub项目丰富起来的，下一个目标就是撰写自己的个人博客。希望自己的学习经验能带给别人帮助。
                            </p>
                            <p>
                                爱读书，爱听歌，爱游泳，爱跑步，爱爬山，爱骑车。代码不是生活的全部。
                            </p>
                        </div>
                        <a href="https://github.com/KingTree" class="btnDownload">前往我的GitHub</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="technical" id="technical">
            <div class="container">
                <div class="heading">
                    <h2 id="technical_title">技能</h2>
                    <p>Nodejs全栈工程师需要一个持续和长期的学习，需要在各种领域都有充足的知识储备，需要对新技术的学习保持热情。Nodejs全栈工程师技术栈中最重要的就是原生JavaScript，《JavaScript高级编程》和《Javascript权威指南》需要通读了几遍，最近在读《你不知道的javascript》。</p>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="95">
                                <span class="percent"></span>
                            </span>
                            <h4>Node.js</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="90">
                                <span class="percent"></span>
                            </span>
                            <h4>Express</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="90">
                                <span class="percent"></span>
                            </span>
                            <h4>JavasSript</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="90">
                                <span class="percent"></span>
                            </span>
                            <h4>jQuery</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="95">
                                <span class="percent"></span>
                            </span>
                            <h4>EJS</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="80">
                                <span class="percent"></span>
                            </span>
                            <h4>GitHub</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="90">
                                <span class="percent"></span>
                            </span>
                            <h4>Java</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="70">
                                <span class="percent"></span>
                            </span>
                            <h4>Php</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="50">
                                <span class="percent"></span>
                            </span>
                            <h4>python</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="90">
                                <span class="percent"></span>
                            </span>
                            <h4>Mysql</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="85">
                                <span class="percent"></span>
                            </span>
                            <h4>redis</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="85">
                                <span class="percent"></span>
                            </span>
                            <h4>MongoDB</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="75">
                                <span class="percent"></span>
                            </span>
                            <h4>ECMAScript 6</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="85">
                                <span class="percent"></span>
                            </span>
                            <h4>Gulp.js/Grunt</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class=" col-xs-12 skills">
                            <span class="chart skilBg" data-percent="75">
                                <span class="percent"></span>
                            </span>
                            <h4>Hadoop 2.x</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="exprience" id="exprience">
            <div class="container">
                <div class="heading">
                    <h2>经历</h2>
                    <p>大学毕业后，开始了自己的软件工程师的生涯。第一家公司的时候自己还是一个职场新人，作为职场的一个新人，主要是在实际项目中不断学习，提升自己的开发技能和经验。第二家公司作为公司唯一一个后端Java和Nodejs开发工程师，负责项目所有的后端开发和架构设计任务。第三家公司是纯Nodejs项目组，在这家公司真正的学到了Nodejs精髓，也开始了从前端到后端整体的架构设计，数据库表的设计工作，在一边认真有质量地完成公司任务以外，带领新人一起进行学习。</p>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">
                            <span class="prevY">至今</span>
                            <span class="afterY">1,2015</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                            <h4>北京云鸟科技有限公司</h4>
                            <h5>Nodejs高级开发工程师</h5>
                            <p>这段时间是自己Nodejs前端开发技能得到不少提高的阶段。负责公司的商户端页面和公司内部人员后台管理页面，后台管理页面部分业务功能架构，手机API等等，也开始使用第三方“阿里云 OSS”等服务。工作非常饱和，但是在闲暇时候抽空学了很多新的框架和库，也真正熟练使用npm，ejs，Express等。开始泡在GitHub上学习开源框架，对原生JavaScript的理解和认知也提升了不少。</p>
                        </div>
                    </div>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">
                            <span class="prevY">12,2014</span>
                            <span class="afterY">07,2013</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                            <h4>北京安倍信科技有限公司</h4>
                            <h5>Java、Nodejs高级开发工程师</h5>
                            <p>自己是公司唯一的后端开发，负责配合前端人员完成电脑端、移动端网站交互、后台管理等整站开发，微信公众号接口开发，微信扫描防伪二维码，手机端展示防伪及溯源信息等。业余时间，积极学习和掌握了非常多的技术，其中包括Nodejs，也打下了不错的原生JavaScript基础。</p>
                        </div>
                    </div>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">
                            <span class="prevY">06,2013</span>
                            <span class="afterY">08,2012</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                            <h4>山东众阳软件公司</h4>
                            <h5>Java开发工程师</h5>
                            <p>刚进入公司负责比较小的模块开发，如门诊医生站和门诊挂号系统等。在这家公司也学Hadoop 1.X，所以到现在我也保持这对大数据的热爱。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reffernces" id="reffernces">
            <div class="container">
                <div class="heading">
                    <h2>项目</h2>
                    <p>下面包括了自己的开源项目，公司项目等。</p>
                </div>
                <div class="row waterfall" data-col-min-width="300">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 refBox">
                        <div class="refBoxcon">
                            <p>
                                因为早期想找个纯Nodejs公司，因为项目保密，所以通过GitHub发布了一个仿求实百科的一个Dome，用Nodejs和MongoDB实现了一个简单的业务逻辑。代码很老，最后提交都是2014年了。之后忙于公司开发，没有维护GitHub项目，也很少开源自己的项目。
                            </p>
                            <h3>
                            <a href="http://www.ahwangshu.com/">仿糗事百科</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 refBox">
                        <div class="refBoxcon">
                            <p>
                                一. 云鸟后台管理系统：
                                1.负责MongoDB NoSql数据库表设计，包括业务日志系统、司机、客户、认证审核及其他非核心Model设计
                                2.负责设计redis缓存机制，包括手机端司机心跳、城市获取的缓存机制等
                                3.负责图片服务，包括图片迁移阿里OSS，图片上传OSS服务，图片格式化等
                                4.负责整体业务逻辑开发，页面规划


                            </p>
                            <p>
                                二. 云鸟系统API：
                                1.负责手机商户端、手机司机端等API接口定义及开发
                                2.负责php API业务逻辑开发
                            </p>
                            <h3>
                            <a href="http://yunniao.cn/">云鸟配送</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 refBox">
                        <div class="refBoxcon">
                            <p>
                                1负责项目整体架构设计和数据库设计，包括mysql数据库表设计，java运用框架
                                2.负责微信公众号开发，包括自动回复，智能回答问题服务等。
                                3.负责开发二维码扫描，手机展示防伪溯源信息等
                            </p>
                            <h3>
                            <a href="javascript:;">北京安倍信科技有限公司</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 refBox">
                        <div class="refBoxcon">
                            <p>
                                1.展示挂号病人：在医生就诊主页面展示挂号病人和就诊后病人基本信息
                                2.历史处方：在就诊页面展示病人历史就诊基本信息，医生点击即可查看详细信息
                                3.医生工作量：在医生下班前可查询自己每日的就诊的人/次，并展示病人的基本信息 等
                                forever          </p>
                            <h3>
                            <a href="http://www.msunsoft.com/">山东众阳软件有限公司</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="container topCon">
                <div class="heading">
                    <h2>联系我</h2>
                </div>
            </div>
        </section>
        <section class="contactDetails">
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>联系方式</h4>
                    <p> <i class="icon icon-envelope"></i><a>ahwangshu@qq.com</a></p>
                    <p> <i class="icon icon-link"></i><a href="http://ahwangshu.com">http://ahwangshu.com/</a>
                    <p> <i class="icon icon-mobile-phone"></i>18515221162
                    </p>
                </div>

            </div>
        </section>
        <section class="footer" id="footer">
            <div class="container">
                <ul>
                    <li><a href="https://github.com/KingTree"><i class="icon icon-github icon-2x"></i></a>
                    </li>
                </ul>
                <span class="totop"><i class="icon icon-chevron-up"></i>
                </span>
            </div>
        </section>
    </div>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.waterfall.js"></script>
    <script src="/javascripts/stickUp.js"></script>
    <script type="text/javascript">
    jQuery(function($) {
        $(document).ready(function() {
            //enabling stickUp on the '.navbar-wrapper' class

            $('.navbar-wrapper').stickUp({
                parts: {
                    0: 'wrapper',
                    1: 'aboutme',
                    2: 'technical',
                    3: 'exprience',
                    4: 'reffernces',
                    5: 'contact'
                },
                itemClass: 'menuItem',
                itemHover: 'active',
                topMargin: 'auto'
            });
        });
    });
    </script>
    <script src="/javascripts/jquery.superslides.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="/javascripts/jquery.easypiechart.js"></script>
</body>

</html>
